<?xml version="1.0" encoding="utf-8" ?>
<configuration>

<connectionStrings>
		<add connectionString="Data Source=DESKTOP-E29UQ6G\SQLEXPRESS;Initial Catalog=onlineexam_project;Integrated Security=True" name="onlineexam_projectConn" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>